@import 'assets/variables';

.categoriesWrapper {
    padding: 0 15px;
}

.categoriesWrapperItem {
    width: 100%;
    margin-bottom: 30px;
    height: 200px;
    position: relative;
}

.categoriesWrapperItemImage {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.categoriesWrapperItemGradientBox {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.categoriesWrapperItemGradiant {
    width: 100%;
    height: 100%;
}

.categoriesWrapperItemTextWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
}

.categoriesWrapperItemTextWrapperRight {
    display: flex;
    align-items: flex-end;
}

.categoriesWrapperItemAddText {
    color: #fff;
    font-size: 14px;
    font-family: $font_default;
    margin-top: 5px;
}

.categoriesWrapperItemText {
    font-family: $font_main;
    color: #fff;
    font-size: 25px;
}