.search {
    padding: 0 15px;
    margin-bottom: 30px;
    position: relative;
}

.searchInput {
    background-color: #1E1E1E;
    height: 50px;
    padding: 0 47px 0 15px;
    color: #fff;
    border-radius: 15px;
}

.searchSvg {
    position: absolute;
    top: 50%;
    right: 32px;
}